@media(max-width: 578px) {

	.container-grid .container-main {
		display: grid;
		grid-template-rows:
			[header] auto [about] auto [cardapios] auto [feedback] auto [contato] auto;
		grid-row-gap: 1%;
		box-sizing: border-box;
	}

	.container-header {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex-shrink: initial;
		justify-content: space-between;
		align-items: center;
	}

	.container-header {
		margin: auto 0;
		padding: 2px auto;
	}

	.navbar-flex li {
		display: block;
		margin: 12px auto;
		text-align: left;
	}

	.navbar-flex ul li a {
		font-size: 20px;
	}

	#main, .main {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		height: auto;
	}

	.main, .title-main, .circle::before {
		background-attachment: local;
		background-size: cover;
		background-repeat: no-repeat;
		background-origin: border-box;
		padding: auto; content: "";
		background-position: start;
		text-align: left; color: white;
		margin: 2px; z-index: 10;
	}

	#header .logo h1 {
		display: none;
	}

	.title-main .title h2 {
		font-size: 1rem;
		text-align: left;
	}

	.title-main .title sub {
		text-align: left;
		font-size: 12px;
		padding: 10px auto;
		line-height: normal;
	}

	/* Faixas vermelhas */
	.main::before, .col-red::before {
		display: none;
	}

	.main .figimg::after, .form-container .figimg::before {
		padding: 75px;
	}

	.title-main button, .container-a button {
		margin: 10px auto;
		border: none;
		background-color: #bc1823;
		border-radius: 25px;
		padding: 12px 20px;
		font-weight: 500;
		color: white;
		text-transform: uppercase;
		font-family: 'Questrial', sans-serif;
		font-size: 16px;
		text-align: center;
	}

	.about {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		height: auto;
	}

	.about .figabout {
		padding: 75px;
	}

	.about .container-a {
		max-width: auto;
	}

	.about .container-a h2, .title h2, .form h2 {
		font-size: 1rem;
		text-align: left;
	}

	.about .container-a p, .container sub {
		font-size: 12px;
		text-align: left;
	}

	.about .container-a, button {
		text-align: center;
	}



	#cardapios .title h2 sub, #feedback .title h2 {
		font-size: 1rem;
		text-align: center;
	}

	#cardapios .title sub {
		font-size: 16px;
		margin: 30px auto;
	}

	.container, .cards {
		display: flex;
		flex-direction: wrap;
		justify-content: center;
		align-items: center;
	}

	#feedback .title h2 {
		color: black;
	}

	.cards, .feedback {
		padding: 0;
	}

	.bg-color::after {
		display: none;
	}

	.cards-container .icon-cards {
		padding: 10px;
	}

	.card-body .cards-body-img {
		padding: 25px;
		border-radius: 5px;
	}

	.card-body h4, .card-body h6 {
		font-size: 10px;
	}

	.card-body p {
		font-size: 8px;
	}

	.cards-body-img-circle {
		padding: 10px;
	}

	.stars {
		padding: 30px;
	}

	.form-container {
		height: auto;
	}

	.form h2 {
		text-align: center;
	}

	.address {
		display: block;
		margin: auto;
		padding: 10px;
	}

	.address .contain h6 {
		font-size: 16px;
	}

	.contain p a {
		font-size: 10px;
	}
}